
# Importing Libraries
---

In [1]:
import numpy as np
import pandas as pd

In [2]:

import os
import shutil
import kagglehub

path = kagglehub.dataset_download("jessemostipak/hotel-booking-demand")

print("Path to dataset files:", path)

source_path = path
destination_path = '/content/'

if not os.path.exists(destination_path):
    os.makedirs(destination_path)

shutil.move(source_path, destination_path)

print(f"Data moved from {source_path} to {destination_path}")

Path to dataset files: /kaggle/input/hotel-booking-demand

OSError: [Errno 30] Read-only file system: 'hotel_bookings.csv'

In [4]:
# Load the dataset using pandas
df = pd.read_csv("/content/hotel-booking-demand/hotel_bookings.csv")

In [5]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# **Data Understanding**

# Data Shape

In [6]:
df.shape

(119390, 32)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

# Statistical Information

In [8]:
df.describe(include='all')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
count,119390,119390.000000,119390.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,...,119390,103050.000000,6797.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390,119390
unique,2,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,4,NaN,NaN,NaN,3,926
top,City Hotel,NaN,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,...,No Deposit,NaN,NaN,NaN,Transient,NaN,NaN,NaN,Check-Out,2015-10-21
freq,79330,NaN,NaN,NaN,13877,NaN,NaN,NaN,NaN,NaN,...,104641,NaN,NaN,NaN,89613,NaN,NaN,NaN,75166,1461
mean,NaN,0.370416,104.011416,2016.156554,NaN,27.165173,15.798241,0.927599,2.500302,1.856403,...,NaN,86.693382,189.266735,2.321149,NaN,101.831122,0.062518,0.571363,NaN,NaN
std,NaN,0.482918,106.863097,0.707476,NaN,13.605138,8.780829,0.998613,1.908286,0.579261,...,NaN,110.774548,131.655015,17.594721,NaN,50.535790,0.245291,0.792798,NaN,NaN
min,NaN,0.000000,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,6.000000,0.000000,NaN,-6.380000,0.000000,0.000000,NaN,NaN
25%,NaN,0.000000,18.000000,2016.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,...,NaN,9.000000,62.000000,0.000000,NaN,69.290000,0.000000,0.000000,NaN,NaN
50%,NaN,0.000000,69.000000,2016.000000,NaN,28.000000,16.000000,1.000000,2.000000,2.000000,...,NaN,14.000000,179.000000,0.000000,NaN,94.575000,0.000000,0.000000,NaN,NaN
75%,NaN,1.000000,160.000000,2017.000000,NaN,38.000000,23.000000,2.000000,3.000000,2.000000,...,NaN,229.000000,270.000000,0.000000,NaN,126.000000,0.000000,1.000000,NaN,NaN
max,NaN,1.000000,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,...,NaN,535.000000,543.000000,391.000000,NaN,5400.000000,8.000000,5.000000,NaN,NaN

# **Data Preprocessing**

# Duplicated Row

In [9]:
df = df.drop_duplicates()

In [10]:
print(df.shape)

(87396, 32)

# Missing Values

In [11]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [12]:

# تعويض 'children' بالوسيط
df['children'].fillna(df['children'].median(), inplace=True)

# تعويض 'country' بالقيمة الأكثر تكراراً
df['country'].fillna(df['country'].mode()[0], inplace=True)

# تعويض 'agent' بـ 0 (أو "Unknown" لو كانت من نوع object)
df['agent'].fillna(0, inplace=True)

# حذف عمود 'company'
df.drop('company', axis=1, inplace=True)

<ipython-input-12-c75b937f71e2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['children'].fillna(df['children'].median(), inplace=True)
<ipython-input-12-c75b937f71e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['children'].fillna(df['children'].median(), inplace=True)
<ipython-input-12-c75b937f71e2>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna(df['country'].mode()[0], inplace=True)
<ipython-input-12-c75b937f71e2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'].fillna(df['country'].mode()[0], inplace=True)
<ipython-input-12-c75b937f71e2>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['agent'].fillna(0, inplace=True)
<ipython-input-12-c75b937f71e2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agent'].fillna(0, inplace=True)
<ipython-input-12-c75b937f71e2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('company', axis=1, inplace=True)

In [13]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

# **Label Encoding**

In [14]:
for col in df.columns:
    print(f"العمود: {col}")
    if  df[col].name == 'reservation_status_date' :
      continue
    if df[col].dtype == 'object' :
        print("↳ نوع العمود: تصنيفي (Categorical)")
        print(f"↳ الفئات: {df[col].unique()}")
    else:
        print("↳ نوع العمود: رقمي (Numeric)")
    print("-" * 50)

العمود: hotel
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['Resort Hotel' 'City Hotel']
--------------------------------------------------
العمود: is_canceled
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: lead_time
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: arrival_date_year
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: arrival_date_month
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
--------------------------------------------------
العمود: arrival_date_week_number
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: arrival_date_day_of_month
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: stays_in_weekend_nights
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: stays_in_week_nights
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: adults
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: children
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: babies
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: meal
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['BB' 'FB' 'HB' 'SC' 'Undefined']
--------------------------------------------------
العمود: country
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'POL' 'DEU'
 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST' 'CZE'
 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR' 'UKR'
 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO' 'ISR'
 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM' 'HRV'
 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY' 'KWT'
 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN' 'SYC'
 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB' 'CMR'
 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI' 'SAU'
 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB' 'NPL'
 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA' 'KHM'
 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP' 'GLP'
 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY' 'MLI'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA' 'ATA'
 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
--------------------------------------------------
العمود: market_segment
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
--------------------------------------------------
العمود: distribution_channel
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
--------------------------------------------------
العمود: is_repeated_guest
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: previous_cancellations
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: previous_bookings_not_canceled
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: reserved_room_type
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
--------------------------------------------------
العمود: assigned_room_type
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
--------------------------------------------------
العمود: booking_changes
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: deposit_type
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['No Deposit' 'Refundable' 'Non Refund']
--------------------------------------------------
العمود: agent
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: days_in_waiting_list
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: customer_type
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['Transient' 'Contract' 'Transient-Party' 'Group']
--------------------------------------------------
العمود: adr
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: required_car_parking_spaces
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: total_of_special_requests
↳ نوع العمود: رقمي (Numeric)
--------------------------------------------------
العمود: reservation_status
↳ نوع العمود: تصنيفي (Categorical)
↳ الفئات: ['Check-Out' 'Canceled' 'No-Show']
--------------------------------------------------
العمود: reservation_status_date

In [15]:
from sklearn.preprocessing import LabelEncoder

# 1. نسخ البيانات
df_encoded = df.copy()

# 2. الأعمدة التي سنستخدم لها Label Encoding
label_cols = [
    'arrival_date_month',
    'country',
    'market_segment',
    'distribution_channel',
    'reserved_room_type',
    'assigned_room_type'
]

# 3. الأعمدة التي سنستخدم لها One-Hot Encoding
onehot_cols = [
    'hotel',
    'meal',
    'deposit_type',
    'customer_type',
    'reservation_status'
]

# 4. Label Encoding
le = LabelEncoder()
for col in label_cols:
    df_encoded[col] = le.fit_transform(df_encoded[col])

# 5. One-Hot Encoding
df_encoded = pd.get_dummies(df_encoded, columns=onehot_cols, drop_first=True)

# 6. استخراج اليوم والشهر والسنة من reservation_status_date
df_encoded['reservation_status_date'] = pd.to_datetime(df_encoded['reservation_status_date'])
df_encoded['reservation_status_date_year'] = df_encoded['reservation_status_date'].dt.year
df_encoded['reservation_status_date_month'] = df_encoded['reservation_status_date'].dt.month
df_encoded['reservation_status_date_day'] = df_encoded['reservation_status_date'].dt.day

# (اختياري) حذف العمود الأصلي للتاريخ إذا لم تعد بحاجة له
df_encoded.drop('reservation_status_date', axis=1, inplace=True)

# 7. النتيجة
print("✅ Encoding complete. Data shape:", df_encoded.shape)

✅ Encoding complete. Data shape: (87396, 40)

In [16]:
# تحويل القيم Boolean إلى 0 و 1
df_encoded = df_encoded.replace({True: 1, False: 0})

<ipython-input-16-db725fdcf5d5>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded = df_encoded.replace({True: 1, False: 0})

In [17]:
# عرض كل الأعمدة
pd.set_option('display.max_columns', None)

# عرض أول 20 صف
df_encoded.head(20)

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,hotel_Resort Hotel,meal_FB,meal_HB,meal_SC,meal_Undefined,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show,reservation_status_date_year,reservation_status_date_month,reservation_status_date_day
0,0,342,2015,5,27,1,0,0,2,0.0,0,135,3,1,0,0,0,2,2,3,0.0,0,0.00,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,1
1,0,737,2015,5,27,1,0,0,2,0.0,0,135,3,1,0,0,0,2,2,4,0.0,0,0.00,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,1
2,0,7,2015,5,27,1,0,1,1,0.0,0,59,3,1,0,0,0,0,2,0,0.0,0,75.00,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,2
3,0,13,2015,5,27,1,0,1,1,0.0,0,59,2,0,0,0,0,0,0,0,304.0,0,75.00,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,2
4,0,14,2015,5,27,1,0,2,2,0.0,0,59,6,3,0,0,0,0,0,0,240.0,0,98.00,0,1,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,3
6,0,0,2015,5,27,1,0,2,2,0.0,0,135,3,1,0,0,0,2,2,0,0.0,0,107.00,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,3
7,0,9,2015,5,27,1,0,2,2,0.0,0,135,3,1,0,0,0,2,2,0,303.0,0,103.00,0,1,1,1,0,0,0,0,0,0,1,0,1,0,2015,7,3
8,1,85,2015,5,27,1,0,3,2,0.0,0,135,6,3,0,0,0,0,0,0,240.0,0,82.00,0,1,1,0,0,0,0,0,0,0,1,0,0,0,2015,5,6
9,1,75,2015,5,27,1,0,3,2,0.0,0,135,5,3,0,0,0,3,3,0,15.0,0,105.50,0,0,1,0,1,0,0,0,0,0,1,0,0,0,2015,4,22
10,1,23,2015,5,27,1,0,4,2,0.0,0,135,6,3,0,0,0,4,4,0,240.0,0,123.00,0,0,1,0,0,0,0,0,0,0,1,0,0,0,2015,6,23
11,0,35,2015,5,27,1,0,4,2,0.0,0,135,6,3,0,0,0,3,3,0,240.0,0,145.00,0,0,1,0,1,0,0,0,0,0,1,0,1,0,2015,7,5
12,0,68,2015,5,27,1,0,4,2,0.0,0,169,6,3,0,0,0,3,4,0,240.0,0,97.00,0,3,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,5
13,0,18,2015,5,27,1,0,4,2,1.0,0,51,6,3,0,0,0,6,6,1,241.0,0,154.77,0,1,1,0,1,0,0,0,0,0,1,0,1,0,2015,7,5
14,0,37,2015,5,27,1,0,4,2,0.0,0,135,6,3,0,0,0,4,4,0,241.0,0,94.71,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,5
15,0,68,2015,5,27,1,0,4,2,0.0,0,76,6,3,0,0,0,3,4,0,240.0,0,97.00,0,3,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,5
16,0,37,2015,5,27,1,0,4,2,0.0,0,135,5,3,0,0,0,4,4,0,8.0,0,97.50,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2015,7,5
17,0,12,2015,5,27,1,0,1,2,0.0,0,76,6,3,0,0,0,0,4,0,240.0,0,88.20,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,2
18,0,0,2015,5,27,1,0,1,2,0.0,0,56,2,0,0,0,0,0,6,0,0.0,0,107.42,0,0,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,2
19,0,7,2015,5,27,1,0,4,2,0.0,0,59,3,1,0,0,0,6,6,0,250.0,0,153.00,0,1,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,5
20,0,37,2015,5,27,1,1,4,1,0.0,0,59,6,3,0,0,0,5,5,0,241.0,0,97.29,0,1,1,0,0,0,0,0,0,0,1,0,1,0,2015,7,6